.img-icon
{
	display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    border: 3px solid #fff;
    padding: 2px;
    width: 120px;
    height: 120px;
}

#btnFlat2 {
	cursor: pointer;
	transition:All 0.200s ease;
	-webkit-transition:All 0.200s ease;
	-moz-transition:All 0.200s ease;
	-o-transition:All 0.200s ease;
	transform: rotate(0deg) scale(1) skew(1deg) translate(10px);
	-webkit-transform: rotate(0deg) scale(1) skew(1deg) translate(10px);
	-moz-transform: rotate(0deg) scale(1) skew(1deg) translate(10px);
	-o-transform: rotate(0deg) scale(1) skew(1deg) translate(10px);
	-ms-transform: rotate(0deg) scale(1) skew(1deg) translate(10px);
}
#btnFlat2:hover{
	transform: rotate(0deg) scale(0.588) skew(1deg) translate(-2px);
	-webkit-transform: rotate(0deg) scale(0.588) skew(1deg) translate(-2px);
	-moz-transform: rotate(0deg) scale(0.588) skew(1deg) translate(-2px);
	-o-transform: rotate(0deg) scale(0.588) skew(1deg) translate(-2px);
	-ms-transform: rotate(0deg) scale(0.588) skew(1deg) translate(-2px);
}



